@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/*Nice job utilizing custom web fonts*/

html {
  background: #f9f490;
  height: 100%
}

body {
  height: 100%;
  font-family: 'Inconsolata', monospace
}

h1 {
  color: black;
  text-align: center;
  border-style: dotted;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: black;
  background-color: white;
  border-radius: 25px;
}

.header {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
}

.gameboard {
  min-height: 400px;
  width: 500px;
  background-color: white;
  display: flex;
  align-self: center;
  margin: auto;
  border-radius: 25px;
  border-style: dotted;
  background-position: center;
  background-image: url('hangman1.png')
}

.wordgoeshere {
  vertical-align: bottom;
  min-height: 100px;
  width: 500px;
  border-style: dotted;
  margin-top: 300px;
  border-radius: 25px;
  border-color: black
}

.letterselector {
  height: 100px;
  width: 500px;
  background-color: white;
  display: flex;
  align-self: center;
  margin: auto;
  margin-top: 15px;
  border-radius: 25px;
  border-style: dotted;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  cursor: pointer;
}

.letters {
  margin: 0 auto;
  padding-top: 8px;
}

.input {
  width: 500px;
  height: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  border-radius: 25px;
  border-style: dotted;
  background-color: white;
  font-weight: bold;
}

input {
  border-radius: 25px;
  width: 100%;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  outline: none;
}

 button {
   width: 40%;
   font-family: 'Inconsolata', monospace;
   border-radius: 25px;
   font-size: 16px;
   cursor: pointer;
 }

 /*Very well-formatted, semantic CSS*/
